# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# NestJS / Dist & API Build Outputs
dist/
dist-api/
apps/api/dist/
apps/api/dist-api/
apps/api/api/*.js
apps/api/api/*.d.ts
apps/api/api/apps/
apps/api/api/packages/
!apps/api/api/index.ts



# Environment variables
.env
.env.local
.env.production
!.env.example

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs & Turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo
coverage/
